*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body 
{
    overflow: hidden;
    background-color: rgb(28, 28, 28);
    position: relative; 
    height: 100vh; 
}
p
{
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 35px;
}    
.bb 
{
    width: 200px;
    height: 50px;
    background: blue;
    position: absolute; 
    top: 0;
    left: 0;
    animation: Signal 20s linear infinite alternate;
    border-radius: 10px;
}
@keyframes Signal 
{
    0% 
    {
        transform: translate(0,0);
    }
    25% 
    {
        transform: translate(calc(100vw - 200px), 25vh);
    }
    50% 
    {
        transform: translate(0, 50vh);
    }
    75% 
    {
        transform: translate(calc(100vw - 200px), 75vh);
    }
    100% 
    {
        transform: translate(0, calc(100vh - 50px));
    }
}

